{% extends 'base.html' %}

{% block title %} Anasayfa - {{ block.super }} {% endblock %}

    {% block body %}

    <div class="container">

        <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <h1>Merhaba, Dünya!</h1>
                        <p class="lead">
                            Django ile yapılmış deneme blog. Ziyaretiniz için teşekkürler.
                        </p>
                        <p>
                        <a class="btn btn-primary btn-lg" href="#" role="button">
                            Popular Post
                        </a>
                        </p>
                    </div>
                </div>
            </div><!-- /row -->

            Hoşgeldiniz, {{ request.user.get_full_name }}
    </div>

    {% endblock %}